server:
  port: 9001
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
    threads:
      max: 50
      min-spare: 5
  servlet:
    encoding:
      force-response: true

spring:
  application:
    name: wanted
  datasource:
    username: limvik
    password: password
    url: jdbc:mysql://wanted_db:3306/wanted
    hikari:
      connection-timeout: 2000
      maximum-pool-size: 5
  flyway:
    skip-default-callbacks: false # true 일 경우 afterMigrate.sql 내 sql 수행안함
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true